/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

body {
    background-color: #621402;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: x-large;
   }